<ion-header>
  <!-- <app-navbar></app-navbar> -->
</ion-header>

<ion-content>
  <div class="container-fluid contenedor">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="interfaz">
            <div class="indicaciones">
              <h1 class="titulo-form" align="center">Iniciar <br> sesión</h1>
              <!-- <p class="text-body1">Es un gusto tenerte de vuelta <br>
              Ingresa tus datos para iniciar Sesión</p> -->
            </div>
            <form class="formulario" [formGroup]="miFormulario">
              <input type="email" class="input email" placeholder="Ingrese su correo electronico"
                formControlName="email" [pattern]="emailCheck">
              <span *ngIf="emailReq()" class="form-text text-danger">Dirección de correo no válida</span>
              <span *ngIf="emailPattern()" class="form-text text-danger">Patrón incorrecto</span>
              <input type="password" class="input pass" placeholder="Ingrese su contraseña" formControlName="password">
              <span class="form-text text-danger" *ngIf="campoValido('password')">Minimo 8 caracteres</span>
              <div class="botones">
                <a [routerLink]="['/recovery']" class="btn-terciario">Olvide mi contraseña</a>
                <button *ngIf="miFormulario.invalid" disabled class="btn btn-primario"> INICIAR SESIÓN</button>
                <button *ngIf="miFormulario.valid" type="sumbit" class="btn btn-primario" (click)="save()"> INICIAR
                  SESIÓN</button>
                <p class="text-body1 btn">¿No tienes cuenta? <a [routerLink]="['/register']"
                    class="btn-terciario">Registrate</a> </p>
              </div>
            </form>
          </div>
        </div>
        <div class="col-6">
          <div class="contenedorImg">
            <!-- <img src="assets/img/iniciarSesion.png" alt="iniciarSesion"> -->
            <img src="assets/img/rostro.png" alt="iniciarSesion">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>