<ion-header>
  <div class="navTabs">
    <div>
      <ion-tab-button>
        <ion-avatar>
          <!-- <img src="assets/img/iniciarSesion.png" alt="iniciarSesion"> -->
          <img src="assets/img/rostroP.png" alt="iniciarSesion">
        </ion-avatar>
      </ion-tab-button>
    </div>
    <div>
      <ion-tab-button tab="tab1">
        <!-- <ion-icon name="home-outline"></ion-icon> -->
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
    </div>
    <!-- <div>
      <ion-tab-button tab="tab2">
        <span id="cart_menu_num" data-action="cart-can" class="badge rounded-circle">1</span>
        <ion-title>Pedidos</ion-title>
      </ion-tab-button>
    </div>
    <div>
      <ion-tab-button tab="tab3">
        <ion-title>Terminado</ion-title>
      </ion-tab-button>
    </div> -->
    <div [routerLink]="['/perfil']">
      <ion-tab-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </div>
</div>
</ion-header>

<ion-content>
  <div align="center">
    <ion-text>Areas</ion-text>
    <hr>
  </div>
  <div class="container-fluid contenedor">
    <div class="col-12">
      <div class="row" align="center">
        <div class="col-4 cardV">
          <ion-card (click)="masaMami()">
            <img src="assets/img/masa.png" alt="brufinca" style="width: 100%; height: 100%;">
          </ion-card>
        </div>
        <div class="col-4 cardV">
          <ion-card (click)="brufinca()">
            <img src="assets/img/bruju.png" alt="brufinca" style="width: 100%; height: 50%;">
          </ion-card>
        </div>
        <div class="col-4 cardV">
          <ion-card (click)="almacen()">
            <img src="assets/img/almacen.png" alt="brufinca" style="width: 50%; height: 70%;">
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>