ion-label {
    font-size: xx-large;
    background-color: black;
    color: white;
    padding-top: 15px;
}

ion-tab-bar {
    background-color: black;
}

ion-tab-button {
    background-color: black;
}

ion-icon {
    font-size: 50px;
}

// Numero  
#cart_menu_num {
    position: absolute;
    top: 0;
    left: 55%;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1px;
    font-size: 15px;
}

.contenedor {
    // background-color: #0065FF;
    width: min(100% - 1em, 49em);
    // height: min(100% - 1em);
    margin-inline: auto;
    display: grid;
    align-items: center;
    justify-items: center;
}

.img {
    border-radius: 50%;
    width: min(100% - 1em, 25em);
    border: 1px solid;
}

h5 {
    font-size: large;
    color: black;
}

.pad {
    color: white;
    border: 1px solid;
    background-color: greenyellow;
    width: min(100% - 1em, 15em);
}

// Grid
.grid {
    // background-color: wheat;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 6rem;
    align-items: center;
    justify-items: left;
}